@font-face {
  font-family: "iconfont"; /* Project id 4025820 */
  src: url('iconfont.woff2?t=1681890398032') format('woff2'),
       url('iconfont.woff?t=1681890398032') format('woff'),
       url('iconfont.ttf?t=1681890398032') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e608";
}

